<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function cb(selection) {
            $.getJSON({
                url: "/callback", data: { 'data': selection }, success: function (result) {
                    Plotly.newPlot('chart', result, {});;
                }
            });
        }
    </script>



</head>

<body style="font-family:arial, sans-serif">
    <h1>伦敦各地区在2006-2011年意外死亡的年龄段</h1>
    <h2>折线图</h2>
    <h3>伦敦某地区意外死亡在不同时期的年龄段</h3>
    <h2>输入伦敦各地区名称如：Camden、Croydon、Enfield等</h2>
    <input type="text" id="fname" name="fname" onchange="cb(this.value)">
    <div id="chart1" class="chart1"></div>
    <h3>此图可以客观反映了伦敦某个地区从2006年到2011年之间各时间意外死亡的具体年龄和年龄段，如2007年该地区意外死亡的最小年龄大致为25岁，最大年龄大致为57。
    </h3>
    <h2>直方图</h2>
    <h3>不同地区在不同时期意外死亡年龄的和</h3>
    <div id="chart2" class="chart2"></div>
    <h3>此图不同的颜色块反映了伦敦各地区在2006到2011年之间每年意外死亡的年龄总和，可以客观反映出伦敦某地区在2006到2011年之间意外死亡的年龄是偏大还是偏小或者人数是偏多还是偏少，如上图中第9个地区，在2006年和2010年意外死亡的年龄偏大或者人数偏多，而2011年意外死亡年龄偏小或者人数偏少。</h3>
    <h2>散点图</h2>
    <h3>在不同时期伦敦各地区意外死亡的年龄分布</h3>
    <div id="chart3" class="chart3"></div>
    <h3>此图可以客观反映了伦敦不同地区地区从2006年到2011年之间各时间意外死亡的具体年龄，如2007年伦敦所有地区意外死亡的最小年龄大致为0岁，最大年龄大致为8。
    </h3>
    <h2>密度等值线图</h2>
    <h3>伦敦各时期意外死亡的年龄段分布情况</h3>
    <div id="chart4" class="chart4"></div>
    <h3>此图可以客观的反映出在2006年到2011年之间，意外死亡的年龄在不同时期主要集中在哪个年龄，如在2006年到2009年之间，意外死亡的年龄主要集中在23岁左右，2010年到2012年比较分散，不过也有一部分主要集中在32岁左右。</h3>
    <h2>箱形图</h2>
    <h3>描述伦敦各地方在不同时期意外死亡的年龄及离散分布情况</h3>
    <div id="chart5" class="chart5"></div>
    <h3>此图反映了伦敦不同地区在2006年到2011年之间意外死亡的年龄段以及主要集中区间，如第四个地区，在2009年意外死亡年龄段大概在25岁到80岁之间，而意外死亡主要集中的年龄段在30岁到60岁之间。</h3>
    <h2>小提琴图</h2>
    <h3>描述伦敦各地方在不同时期意外死亡的年龄和分布状态以及概率密度</h3>
    <div id="chart6" class="chart6"></div>
    <h3>此图反映了伦敦不同地区在2006年到2011年之间意外死亡的年龄段以及主要分散情况，如第四个地区，在2006年意外死亡年龄段大概在20岁到80岁之间，而意外死亡主要集中的年龄段在20岁到30岁之间、在45岁到55岁之间以及70岁到80岁之间。</h3>
    <h2>并行类别图</h2>
    <h3>不同时期意外死亡在不同地区对应的情况</h3>
    <div id="chart7" class="chart7"></div>
    <h3>此图直观反映了在不同时期伦敦各地区意外死亡的人数密度，可以看出，在2006年意外死亡的人数最多，2011年意外死亡的人数最少，且从2006年开始到2011年每年意外死亡的人数正在逐年减少。</h3>
    <h2>堆积区域图</h2>
    <div id="chart8" class="chart8"></div>
    <h3>上图中每种不同的颜色表示不同的时期，而上图中每个地区（x轴）与时期（y轴）所包含的面积表示该地区意外死亡的年龄总和，例如，第一个地区在2006年意外死亡的年龄总和为300左右，第二个地区在2006年意外死亡年龄总和大概在150左右。</h3>
    <h2>饼图</h2>
    <h3>在不同时期伦敦各地区意外死亡年龄总和</h3>
    <div id="chart9" class="chart9"></div>
    <h3>从上图中可以直观的显示在2006年到2011年之间伦敦意外死亡的年龄总和，可以看出，在2006年伦敦意外死亡的人数较多或者是年龄较大，而2011年意外死亡的人数较少或者是年龄较小。</h3>
</body>

<script>
    d1 = {{ graphJSON1 | safe }};
    Plotly.newPlot('chart1', d1, {});
    d2 = {{ graphJSON2 | safe }};
    Plotly.newPlot('chart2', d2, {});
    d3 = {{ graphJSON3 | safe }};
    Plotly.newPlot('chart3', d3, {});
    d4 = {{ graphJSON4 | safe }};
    Plotly.newPlot('chart4', d4, {});
    d5 = {{ graphJSON5 | safe }};
    Plotly.newPlot('chart5', d5, {});
    d6 = {{ graphJSON6 | safe }};
    Plotly.newPlot('chart6', d6, {});
    d7 = {{ graphJSON7 | safe }};
    Plotly.newPlot('chart7', d7, {});
    d8 = {{ graphJSON8 | safe }};
    Plotly.newPlot('chart8', d8, {});
    d9 = {{ graphJSON9 | safe }};
    Plotly.newPlot('chart9', d9, {});
</script>

</html>
