<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../static/css/orbit-7.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="../static/js/index3.js"></script>
  <title>aaa</title>
</head>
<body>
  <section>
  <header>
    <h3 id="twitter">{{person.email}}</h3>
    <h1>{{person.name}}</h1>
  </header>
  
  <hr/>
  
  <div class="xp qual full-qual">
    <h2>学习经验积累量</h2>
    
    <div class="data">
      <!-- <div class="up-arrow data-item" id="item1">
        <h5>Awesome Place</h5>
        <span>&nbsp;</span>
      </div> -->
      
      <div class="data-item" id="item2">
        <h5>大学</h5>
        <span>&nbsp;</span>
      </div>
      
      <div class="data-item" id="item3">
        <h5>小学</h5>
        <span>&nbsp;</span>
      </div>
      
      <!-- <div class="data-item" id="item4">
        <h5>Cool Place</h5>
        <span>&nbsp;</span>
      </div> -->
      
      <div class="data-item" id="item5">
        <h5>初中</h5>
        <span>&nbsp;</span>
      </div>
      
      <!-- <div class="data-item" id="item6">
        <h5>Cool Place</h5>
        <span>&nbsp;</span>
      </div>
       -->
      <div class="data-item" id="item7">
        <h5>高中</h5>
        <span>&nbsp;</span>
      </div>
    </div>
    
    <hr/>
    <div class="years">
      
      <ul class="middot">
        <!-- <li>&#183;</li> -->
        <li>&#183;</li>
        <li>&#183;</li>
        <li>&#183;</li>
        <li>&#183;</li>
      </ul>
      <span></span>
      <ul class="year-list">
        <li>2006 - 2012</li>
        <li>2012 - 2015</li>
        <li>2015 - 2018</li>
        <li>2018 - 2022</li>
        <!-- <li>2014</li> -->
      </ul>
      
      <span></span>
    </div>
  </div> <!-- end first qual -->
  
  <div class="edu qual third-qual">
    <h2>项目经历</h2>
    <span class="highschool">
       大学项目（2019-2021）
    </span>

    <div class="wrap">    
      
      
      <div class="schools">
        <div class="up-arrow school-item" id="school1">
          <h5>基于C语言的教务管理系统<br>基于Java的飞机购票系统</h5>
          <span>&nbsp;</span>
        </div>
        
        <div class="up-arrow school-item" id="school2">
          <h5>基于python的网页爬取<br>基于pygame的飞机大战小游戏</h5>
          <span>&nbsp;</span>
        </div>
      </div>
      
      <hr/>
      <div class="years"> 
        <ul class="middot">
          <li>&#183;</li>
          <li>&#183;</li>
          <li>&#183;</li>
          <li>&#183;</li>
          <li>&#183;</li>
        </ul>
        <span></span>
        <ul>
          <li>2019</li>
          <li>2020</li>
          <li>2021</li>
        </ul>
      
        <span></span>

      </div>
     <h2><p><a href="{{url_for('index')}}" target="_blank">近期作品</a></p></h2>
    </div>
  </div>
  
  <div class="hna qual quarter-qual">
    <h2>个人介绍</h2>
      <ul>
        <li>学校：{{person.school}}</li>
        <li>家庭地址：{{person.address}}</li>
        <li>职业：{{person.job}}</li>
        <li>电话号码：{{person.tel}}</li>
        <li>个人介绍：{{person.description}}</li>
      </ul>
  </div>
    
  </div>
  
  <div class="sknex">
    <h2>专业技能</h2>
    <br/>
    <div class="skills-text">
      <br/>
      <p>
        熟练使用Visual Studio 2010，SQL Server 2008开发工具，TFS代码管理工具；熟悉三层架构，熟悉MVC+EF框架，了解cache缓存机制；熟悉使用两种开发语言：
      </p>
      
      <ul>
        <li>C++/C</li>
        <li>python</li>
      </ul>
    </div>
    
    <div class="skills-vis">
      <div id="skill1">
        <h3>C++/C</h3>
        <hr/>
        <br/>
        <div class="skill-breakdown">
          <div class="pie-container">
            <div class="center"></div>
            <div class="pie-back"></div>
            <div class="hold" id="puters"><div class="pie"></div></div>
            <div class="hold" id="puters4"><div class="pie"></div></div>
            
            <div class="hold" id="movies"><div class="pie"></div></div>
            
            <div class="hold" id="games"><div class="pie"></div></div>
            
            <div class="hold" id="music"><div class="pie"></div></div>
            <div class="hold" id="music2"><div class="pie"></div></div>
            
            <div class="hold" id="tv"><div class="pie"></div></div>
          </div>          
          <div class="pie-legend">
            <ul>
              <li>Testing</li>
            </ul>
          </div>
        </div>
      </div>
      
      <div id="skill2">
        <h3>python</h3>
        <hr/>
        <br/>
        
        <div class="skill-breakdown">
          <div class="pie-container">
            <div class="center"></div>
            <div class="pie-back"></div>
            <div class="hold" id="puters"><div class="pie"></div></div>
            <div class="hold" id="puters4"><div class="pie"></div></div>
            
            <div class="hold" id="movies"><div class="pie"></div></div>
            
            <div class="hold" id="games"><div class="pie"></div></div>
            
            <div class="hold" id="music"><div class="pie"></div></div>
            <div class="hold" id="music2"><div class="pie"></div></div>
            
            <div class="hold" id="tv"><div class="pie"></div></div>
          </div>          
          <div class="pie-legend">
            <ul>
              <li>Testing</li>
            </ul>
          </div>
        </div>
      </div>
   </div>
</section>

</body>
</html>

